@import 'tailwindcss';

@layer utilities {
  .font-plak-regular {
    font-family: "Neue Plak", sans-serif;
    font-weight: 400;
  }
  .font-plak-semibold {
    font-family: "Neue Plak", sans-serif;
    font-weight: 600;
  }
  .font-plak-bold {
    font-family: "Neue Plak", sans-serif;
    font-weight: 800;
  }
  .font-plak-condensed {
    font-family: "Neue Plak Condensed", sans-serif;
    font-weight: 900;
  }
}

:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
section{
  width: 100dvw;
}

h1 {
  line-height: .8em;
}

.first-button {
  border-radius: 2px;
  cursor: pointer;
  width:100%;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.padding{
  width: 100%;
  padding:  0 15% 0 15%;
  display: flex;
  margin:0 auto;
  margin-top: 60px;
  
}
/* .mygrid-galleries{
  grid-template-columns: 220px 220px 220px 220px;
} */

#project-rock-comp{
  background-image: url("./assets/Desktop%20Assets/UA_Theme_2_DT.jpg");
  

}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
@media only screen and (max-width: 1024px) {
  .padding{
     padding:  0 5% 0 5%;
  }
}


@font-face {
  font-family: 'Neue Plak Regular';
  src: url('/assets/Fonts/Neue-Plak-Regular.otf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Neue Plak SemiBold';
  src: url('/assets/Fonts/Neue-Plak-SemiBold.otf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Neue Plak Bold';
  src: url('/assets/Fonts/Neue-Plak-Bold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Neue Plak Condensed';
  src: url('/assets/Fonts/Neue-Plak-CondBlack.ttf') format('truetype');
  font-style: normal;
}